<launch>
    <group ns="sender_transports">
        <arg name="target" default="192.168.1.15" />

        <node name="chassis_640x360" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17001" />
            <rosparam param="topics">
                [{name: "/cameras/chassis/image_640x360/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="undercarriage_640x360" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17002" />
            <rosparam param="topics">
                [{name: "/cameras/undercarriage/image_640x360/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="main_navigation_640x360" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17003" />
            <rosparam param="topics">
                [{name: "/cameras/main_navigation/image_640x360/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="end_effector_640x360" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17004" />
            <rosparam param="topics">
                [{name: "/cameras/end_effector/image_640x360/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="chassis_256x144" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17005" />
            <rosparam param="topics">
                [{name: "/cameras/chassis/image_256x144/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="undercarriage_256x144" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17006" />
            <rosparam param="topics">
                [{name: "/cameras/undercarriage/image_256x144/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="main_navigation_256x144" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17007" />
            <rosparam param="topics">
                [{name: "/cameras/main_navigation/image_256x144/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>

        <node name="end_effector_256x144" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
            <param name="destination_addr" value="$(arg target)" />
            <param name="destination_port" value="17008" />
            <rosparam param="topics">
                [{name: "/cameras/end_effector/image_256x144/compressed", compress: false, rate: 30.0}]
            </rosparam>
        </node>
    </group>
</launch>
