<launch>
  <group ns="cameras">
    <node name="camera_undercarriage" pkg="rover_camera" type="rover_camera" launch-prefix="taskset -c 1" output="screen">
      <param name="device_path" value="/dev/rover/camera_undercarriage"/>
    </node>

    <node name="main_navigation" pkg="rover_camera" type="rover_camera" launch-prefix="taskset -c 2" output="screen" >
      <param name="device_path" value="/dev/rover/camera_main_navigation" />
    </node>


    <node name="camera_chassis" pkg="rover_camera" type="rover_camera" launch-prefix="taskset -c 3" output="screen" >
      <param name="device_path" value="/dev/rover/camera_chassis" />
    </node>


  </group>
</launch>
